.hidden {
  display: none;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 5rem 0;

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  p {
    margin: 0 0 2rem 0;
  }

  #save {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    #checkbox {
      position: relative;
      top: 0.07rem;
    }

    #published {
      font-family: neue-haas-grotesk-text, sans-serif;
      font-size: 0.84rem;
      
      background-image: url(/images/gradient.svg);
      background-size: cover;
      color: white;
      border: none;
      box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.2);
    
      padding: 0.35em 3em;
      height: fit-content;
      border-radius: 300px;
    
      transition: 0.2s ease-in-out;
      letter-spacing: 0;
    
      position: relative;
    
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.25;
    
        border-radius: 500px;
    
        position: absolute;
        top: 0;
        left: 0;
    
        z-index: 0;
    
        transform: scale(0);
    
        transition: 0.2s ease-in-out;
      }
      
      &:hover {
        cursor: pointer;
    
        &:after {
          transform: scale(1);
        }
      }
    }
  }

  aside {
    width: 15rem;
    position: fixed;
    top: 50vh;
    right: 1rem;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    
    background: linear-gradient(164deg, rgba(199,234,255,1) 0%, rgba(172,217,244,1) 100%);
    padding: 3rem 2rem;
    border-radius: 6px;

    box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.1);
    
    a {
      text-decoration: underline;
    }
    button {
      margin-top: 0.5rem;

      &:nth-of-type(1) {
        margin-top: 0;
      }
      &:nth-of-type(2) {
        margin-bottom: 0.7rem;
      }
    }
    h3 {
      font-size: 1.7rem;
      margin: 0 0 0.5rem 0;
    }
    p {
      font-size: 0.8rem;
      margin: 0 0 1.3rem 0;
    }
  }
  #editor {
    width: 75ch;
    background: linear-gradient(164deg, rgba(199,234,255,1) 0%, rgba(172,217,244,1) 100%);
    padding: 3rem 5rem;
    border-radius: 6px;
    min-height: 40rem;
  
    font-family: neue-haas-grotesk-text, sans-serif;
    border: none;

    resize: none;
  
    &:focus {
      outline: none;
    }

    p {
      font-weight: 300;
      line-height: 1.5em;
    }
  }
  #preview {
    max-width: 75ch;
    background: linear-gradient(164deg, rgba(199,234,255,1) 0%, rgba(172,217,244,1) 100%);
    padding: 3rem 5rem;
    border-radius: 6px;

    p {
      font-weight: 300;
      line-height: 1.5em;
    }
    h1 {
      font-size: 2.5rem;
      margin: 0.5em 0;
    }
    hr {
      border: none;
      height: 1px;
      background: #3da9fa;
    }
    blockquote p {
      font-weight: 400;
      margin-left: -1rem;
      position: relative;

      &:before {
        content: "";
        width: 3px;
        height: 100%;

        position: absolute;
        top: 0;
        left: -1.3em;

        background: #3da9fa;
        border-radius: 2px;
      }
    }
    img {
      max-width: 75ch;
      border-radius: 6px;
    }
    a {
      text-decoration: underline;
    }
  }
}
#uploadImg {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 0.83rem;
  
  background-image: url(/images/gradient.svg);
  background-size: cover;
  color: white;
  border: none;
  box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.2);

  padding: 0.4em 3em;
  height: fit-content;
  border-radius: 300px;
  
  transition: 0.2s ease-in-out;
  letter-spacing: 0;

  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.25;

    border-radius: 500px;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    transform: scale(0);

    transition: 0.2s ease-in-out;
  }
  
  &:hover {
    cursor: pointer;

    &:after {
      transform: scale(1);
    }
  }
  
  input {
    display: none;
  }
}

#file {
  font-size: 0.5rem;
  display: block;
  width: 14rem;
  margin-top: 0.5rem;
  overflow-wrap: break-word;

  background-image: url(/images/gradient.svg);
  background-size: cover;
  padding: 0.5rem 0.5rem;

  border-radius: 5px;
}
#fileMessage {
  font-size: 0.8rem;
}