/* 
GLOBAL STYLING FILE

TO DO:
Enter page error message styling
Navbar styling for when user is signed in
User profile page
404 Page
*/

@import url("https://use.typekit.net/oue1wyi.css"); //Import font from Adobe Fonts

$color-bg: #FFFFFF;
$color-secondary: #F5C6B1;
$color-accent: #F6976D;
$color-text: #000000;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  font-family: aileron, sans-serif;

  background: white;
}
h1,h2,h3,h4,h5,h6 {
  font-family: neue-haas-grotesk-display, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

// Loader
.loader {
  border: 10px solid white; 
  border-top: 10px solid $color-accent; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-left: 10vw;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

//Navbar
.navbar {
  min-height: 70px;
  width: 100vw;
  background: white;

  padding: 0 10vw;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    height: 25px;
    position: absolute;
    left: 5rem;

    &:hover {
      cursor: pointer;
    }
  }
  .buttons {
    position: absolute;
    right: 5rem;
    display: flex;
    align-items: center;

    img { //PFP
      width: 45px;
      height: 45px;
      border-radius: 50%;

      box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.1);
    }
    button {
      margin-right: 2rem;
    }
  }
}

.postCard {
  width: 250px;
  height: 250px;
  padding: 2rem;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  color: white;
  
  border-radius: 5px;
  box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.15);

  transition: 0.3s ease-in-out;

  // Set Backgrounds
  &:nth-of-type(5n-4) {
    background-image: url(/images/gradient1.svg);
  }
  &:nth-of-type(5n-3) {
    background-image: url(/images/gradient2.svg);
  }
  &:nth-of-type(5n-2) {
    background-image: url(/images/gradient3.svg);
  }
  &:nth-of-type(5n-1) {
    background-image: url(/images/gradient4.svg);
  }
  &:nth-of-type(5n) {
    background-image: url(/images/gradient5.svg);
  }
  background-size: cover;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  h2 { /* Post Title */
    margin: 0.3em 0;
  }
  .heartCount {
    display: block;
  }
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 5rem 2rem;

  h1 {
    margin: 0;
    font-size: 3rem;
  }
  P {
    margin: 0;
    max-width: 45ch;
    text-align: center;
  }
  
  #postFeed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    width: fit-content;

    margin: 3rem 0;
  }  
}

button {
  font-family: neue-haas-grotesk-text, sans-serif;
  
  background-image: url(/images/gradient.svg);
  background-size: cover;
  color: white;
  border: none;
  box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.1);

  padding: 0.4em 3em;
  height: fit-content;
  border-radius: 300px;

  transition: 0.2s ease-in-out;
  letter-spacing: 0;

  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.25;

    border-radius: 500px;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    transform: scale(0);

    transition: 0.2s ease-in-out;
  }
  
  &:hover {
    cursor: pointer;

    &:after {
      transform: scale(1);
    }
  }
}

.postEditor {
  margin: 1rem 10vw;
  width: 76vw;
  min-height: 60vh;
  padding: 2vw;

  font-family: neue-haas-grotesk-text, sans-serif;

  background: $color-secondary;
  border: none;

  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.gradient {
  background-image: url(/images/gradient.svg);
  background-size: cover;
  background-clip: text;
  color: transparent;
}