@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes reveal {
  from {opacity: 0.8;}
  to {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); opacity: 1;}
}
@mixin reveal($duration, $delay) {
  animation-name: reveal;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

#header {
  @include center;
  flex-direction: column;

  height: calc(100vh - 70px);
 
  #headerText {
    position: absolute;
    left: 220px;
    
    @media (max-width: 1450px) {
      left: 180px;
    }
    @media (max-width: 1250px) {
      left: 120px;
    }
    @media (max-width: 1070px) {
      left: 50%;
      transform: translateX(-50%) translateY(-35px);
    }

    transform: translateY(-35px); // Moves it up so that it's centered (Navbar is 70px tall)
    
    #title {
      height: fit-content;
      @include reveal(2s, 0);
      
      h1 {
        font-size: 5.5rem;
        font-weight: 800;
        margin: 0;
        text-align: left;
      }

      h1, span {
        line-height: 1.1em;
      }
    }
    
    p {
      font-size: 1.2rem;
      margin-top: 0.2rem;
      margin-bottom: 1.2rem;
      
      @include reveal(1.5s, 1s);
    } 

    button {
      @include reveal(1s, 2.5s);
    }
  }
  #posts {
    position: absolute;
    right: 150px;
    z-index: 0;

    @include reveal(1.5s, 3.5s);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

    @media (max-width: 1450px) {
      right: 50px;
    }
    @media (max-width: 1350px) {
      right: -50px;
    }
    @media (max-width: 1250px) {
      right: -100px;
    }
    @media (max-width: 1200px) {
      right: -150px;
    }
    @media (max-width: 1070px) {
      display: none;
    }

    display: flex;
    gap: 2rem;
    
    #leftPosts {
      overflow: hidden;
      height: calc(100vh - 70px);
    }
    #rightPosts {
      overflow: hidden;
      height: calc(100vh - 70px);
    }
  }
}
#main {
  #about {
    min-height: 100vh;
    background: #FFF7F5;
    
    @include center;
    justify-content: space-evenly;

    @media (max-width: 700px) {
      padding: 0 5rem;
    }
    @media (max-width: 1080px) {
      flex-direction: column;
      justify-content: center;
      gap: 5rem;
    }

    #aboutText {
      max-width: 30rem;
      justify-self: start;

      opacity: 0;

      h2 {
        font-size: 2.6rem;
        margin: 0;
      }
      p {
        margin: 0.6rem 0 1.1rem 0;
        font-size: 1.1rem;
        line-height: 1.2em;
        
        abbr {
          text-decoration: underline dotted grey;
        }
      }
    }
    img {
      max-width: 37vw;
      justify-self: end;

      opacity: 0;

      @media (max-width: 1080px) {
        max-width: 30rem;
      }
      @media (max-width: 635px) {
        max-width: calc(100vw - 10rem);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}