#main {
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;

  @media (max-width: 1530px) {
    align-items: flex-start;
    padding: 3rem 5vw;
  }
  @media (max-width: 800px) {
    align-items: center;
  }
  
  #content {
    max-width: 75ch;
    background: linear-gradient(164deg, rgba(199,234,255,1) 0%, rgba(172,217,244,1) 100%);
    padding: 3rem 5rem;
    border-radius: 6px;

    @media (max-width: 1220px) {
      width: 60ch;
    }
    @media (max-width: 1080px) {
      width: 50ch;
    }
    @media (max-width: 990px) {
      width: 40ch;
    }
    @media (max-width: 890px) {
      width: 30ch;
    }
    @media (max-width: 800px) {
      width: 60vw;
    }
    @media (max-width: 600px) {
      padding: 3rem 3rem;
    }
    
    p {
      font-weight: 300;
      line-height: 1.5em;
    }
    h1 {
      font-size: 2.5rem;
      margin: 0.5em 0;
      text-align: left;
    }
    hr {
      border: none;
      height: 1px;
      background: #3da9fa;
    }
    blockquote p {
      font-weight: 400;
      margin-left: -1rem;
      position: relative;

      &:before {
        content: "";
        width: 3px;
        height: 100%;

        position: absolute;
        top: 0;
        left: -1.3em;

        background: #3da9fa;
        border-radius: 2px;
      }
    }
    img {
      max-width: 100%;
      max-height: 700px;
      border-radius: 6px;
    }
    a {
      text-decoration: underline;
    }
  }
  #sidebar {
    width: 15rem;
    position: fixed;
    top: 50vh;
    right: 1rem;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    
    background: linear-gradient(164deg, rgba(199,234,255,1) 0%, rgba(172,217,244,1) 100%);
    padding: 3rem 2rem;
    border-radius: 6px;

    box-shadow: 0px 12px 9px -12px rgba(0, 0, 0, 0.1);

    @media (max-width: 800px) {
      position: relative;
      top: 0;
      right: 0;
      
      align-items: center;
      text-align: center;

      transform: translateY(0);
      margin-top: 3rem;
    }

    h2 {
      font-size: 2rem;
    }
    
    a {
      text-decoration: underline;
    }
    button {
      margin-top: 1rem;

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }

    #likeCount {
      font-size: 1.5rem;
    }
  }
}